.list_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.3px solid black;
  height:60vw;
  width: 40vw;
  border-collapse: collapse;
  background-color: rgb(249, 244, 237);
  border-radius: 1vw;
  margin-top:2vw;

}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35vw;
  border: 0.5px solid black;
  height:5vw;
  font-size:2vw;
  background-color: white;
}

.date_list, .text_content{
  padding:2vw;
}

.page_name{
  font-size:3vw;
  font-style: italic;
}