.input_real_container{
  border: 0.2vw solid black;
  border-radius: 1vw;
  width: 85vw;
  margin: 1.5vw auto;
  padding:3vw 1vw;
}

.input_container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

}

.react-datepicker__month-container{
  background-color: rgb(255, 255, 255);
  border: 0.3vw solid black;
  border-radius: 1vw;
}

.custom-placeholder {
  color: gray;
  font-style: italic;
  font-size: 2.3vw;
  text-align: center;
  width:25vw;

}

.label {
  font-size: 2.5vw;
  width: 20vw;
  font-style: italic;
  font-weight:bold;
  margin : 1.3vw 0vw;
}

.content_input {
  color: gray;
  font-style: italic;
  font-size: 2vw;
  text-align: center;
  width: 25vw;
  height: 30vw;
  padding: 1vw 0vw;
}

.button_container {
  display: flex;
  flex-direction: column;
}

.page_button_container{
  position:relative;
  left:42.5vw;
  
  
  
}

.button {
  margin: 3vw 2vw 0vw 2vw;
  border:0.3vw solid black;
  border-radius: 1vw;
  font-size: 2vw;
  padding: 0vw 1vw;
  cursor: pointer;
}

.button:hover {
  background-color: aliceblue;
}
