.footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  background-color: beige;
  font-size: 2vw;
  width: 85vw;
  color: gray;
  border: 0.1vw solid black;
  border-radius: 1vw;
  height:10vw;
  padding:2vw;
  margin:1.5vw auto 3vw auto;
}

