.app {
  text-align: center;
  display:flex;

  justify-self: center;
  align-items: center;  
  padding:100px 300px;
}
.input{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.my-custom-datepicker  {
  font-size: 20px;
  border:1px solid black; 
  border-radius: 25px;
  margin:20px;
  width: 300px;
  height:320px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.custom-placeholder {
  color: gray;
  font-style: italic;
  font-size:25px;
  text-align:center;
  width:200px;
}
.content_input_container{
  display:flex;
  position: relative;
  display: inline-block;  
  width: 100%;
}
.label{
  font-size:25px;
  width: 200px;
  font-style: italic;
  margin-top:20px;
  margin-bottom:10px;
}
.content_input{
  color: gray;
  font-style: italic;
  font-size:20px;
  text-align:center;
  width:200px;
  height:250px;
  padding:15px 0px;
}
.button_container{
  display: flex;
  flex-direction: column;
}
.button{
  margin:30px 100px;
  border-radius: 25px;
  font-size:25px;
  padding:0px 15px;
  cursor:pointer;
}
button:hover{
  background-color: aliceblue;
}

